@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

.bg_gradient_l {
  background: radial-gradient(
    #f24c236e 0%,
    #fbb60979 31.81%,
    #82b80585 59.71%,
    #0da3e47c 100%
  );
  filter: blur(350px);
}

.bg_gradient_r {
  background: radial-gradient(#c2222283 0%, #5959cb81 100%);
  filter: blur(350px);
}

.rainbow-bg {
  background: linear-gradient(
    180deg,
    #f24e23 0%,
    #fbb709 31.81%,
    #82b805 59.71%,
    #0da5e4 100%
  );
}

.hexagon-container {
  font-size: 0; /*disable white space between inline block element */
  width: 500px;
  --s: 150px; /* size */
  --xs: calc(var(--s) - 2);
  --r: 0.9; /* ratio */
  /* clip-path */
  --h: 0.25;
  --v: 0.5;
  --hc: calc(clamp(0, var(--h), 0.5) * var(--s));
  --vc: calc(clamp(0, var(--v), 0.5) * var(--s) * var(--r));

  /*margin */
  --mv: 3px; /* vertical */
  --mh: calc(var(--mv) + 1px + (var(--s) - 2 * var(--hc)) / 2); /* horizontal */
  /* for the float*/
  --f: calc(2 * var(--s) * var(--r) + 4 * var(--mv) - 2 * var(--vc) - 2px);
}

.hexagon-container .hex-wrapper {
  width: var(--s);
  margin: calc(var(--mv)) var(--mh);
  height: calc(var(--s) * var(--r));
  display: inline-block;
  font-size: initial;
  clip-path: polygon(
    var(--hc) 0,
    calc(100% - var(--hc)) 0,
    100% var(--vc),
    100% calc(100% - var(--vc)),
    calc(100% - var(--hc)) 100%,
    var(--hc) 100%,
    0 calc(100% - var(--vc)),
    0 var(--vc)
  );
  /* background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(246, 78, 31, 0.6) 0.01%,
    rgba(254, 185, 6, 0.6) 31.25%,
    rgba(3, 165, 240, 0.6) 61.98%,
    rgba(127, 186, 3, 0.6) 100%
  ); */
  background: white;

  margin-bottom: calc(var(--mv) - var(--vc));
}

.hexagon-container .hex-wrapper .inner-hex {
  width: calc(var(--s) - 2);
  margin: 1px;
  height: calc(calc(var(--s) - 2) * 0.9);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(
    var(--hc) 0,
    calc(100% - var(--hc)) 0,
    100% var(--vc),
    100% calc(100% - var(--vc)),
    calc(100% - var(--hc)) 100%,
    var(--hc) 100%,
    0 calc(100% - var(--vc)),
    0 var(--vc)
  );
  background: rgba(246, 78, 31, 0.2);
  /* margin-bottom: calc(4px - 100px * 0.2885); */
}

.hex-shape {
  width: calc(var(--s) - 2px);
  /* margin: 1px; */
  height: calc(var(--s) * var(--r) - 2px);
  clip-path: polygon(
    var(--hc) 0,
    calc(100% - var(--hc)) 0,
    100% var(--vc),
    100% calc(100% - var(--vc)),
    calc(100% - var(--hc)) 100%,
    var(--hc) 100%,
    0 calc(100% - var(--vc)),
    0 var(--vc)
  );
}

.hexagon-container::before {
  content: '';
  width: calc(var(--s) / 2 + var(--mh));
  float: left;
  height: 135%;
  shape-outside: repeating-linear-gradient(
    #0000 0 calc(var(--f) - 2px),
    #000 0 var(--f)
  );
}

.animate__animated.animate__bounce {
  --animate-duration: 5s;
}

.animate__animated.animate__delay-6s {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.animate__animated.animate__delay-7s {
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}

.animate__animated.animate__delay-8s {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}

.animate__animated.animate__delay-9s {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}

.flip-front,
.flip-back {
  -webkit-backface-visibility: hidden !important; /* Safari */
  backface-visibility: hidden !important;
  transition: transform 0.6s linear;
}

.flip-front {
  transform: perspective(600px) rotateY(0deg);
}
.flip-back {
  background: #ffffff;
  /* transform: perspective(600px) rotateY(180deg); */
  transform: perspective(600px) rotateY(0deg);
}

.flip-front:hover {
  transform: perspective(600px) rotateY(-180deg);
}

.flip-back:hover {
  transform: perspective(600px) rotateY(180deg) !important;
}

@media only screen and (max-width: 1120px) {
  .hexagon-container {
    width: 400px;
    --s: 120px;
  }
}

@media only screen and (max-width: 600px) {
  .bg_gradient_l {
    background: linear-gradient(
      180deg,
      #f24c236e 0%,
      #fbb60979 31.81%,
      #82b80585 59.71%,
      #0da3e47c 100%
    );
    filter: blur(200px);
  }

  .bg_gradient_r {
    background: linear-gradient(180deg, #c2222283 0%, #5959cb81 100%);
    filter: blur(200px);
  }
}

@media only screen and (max-width: 400px) {
  .hexagon-container {
    width: 330px;
    --s: 100px;
  }
}

.body {
  background: linear-gradient(90.08deg, #140834 0.06%, #252525 99.91%);
  /* background-image: url('https://res.cloudinary.com/dqsggbqmf/image/upload/v1672140154/waves_wxewjt.png'); */
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  mix-blend-mode: color;
  height: 100%;
}

.top-section {
  background-image: url('https://res.cloudinary.com/dqsggbqmf/image/upload/v1672096824/Elipse_k6pfke.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 100vh;
  width: 100%;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 44px;
  left: 0;
  display: flex;
  gap: 32px;
  padding: 6px 24px 20px;
  margin-bottom: 0;
  justify-content: flex-start;
  background: #362c4a;
  opacity: 0;
  visibility: hidden;
  translate: 0 24px;
  transition: 0.3s;
  border-radius: 10px;
  /* box-shadow: 4px 4px 8px rgba(156, 163, 219, 0.25); */
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  translate: 0 0;
}

.box {
  position: relative;
  border-image-slice: 1;

  border-image-source: linear-gradient(
    to left,
    #03a5f0,
    #f64e1f,
    #7fba03,
    #feb906
  );
}

.box:hover {
  transition: 0.3s;
}

.hidden-text {
  /* display: none; */
  overflow: hidden;
  visibility: hidden;
  translate: 0 24px;
  transition: 0.3s;
}

.box:hover {
  height: auto;
  animation: height 0.3s ease-in-out;
}

.box:hover .hidden-text {
  visibility: visible;
  translate: 0 0;
}

.partners {
  background: linear-gradient(
    180deg,
    rgba(54, 49, 45, 0.03) 0%,
    rgba(255, 113, 0, 0.06) 100%
  );
}

.show {
  /* position: fixed;
  width: 100%; */
  top: 0;
  transition: top 1s ease-in-out;
  z-index: 99;
  box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
  /* border-bottom: 1px solid #fecc29; */
}


.main-page {
  background-image: url('/logo/Ellipse-bg.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 672px;
}

/* .cableCard {
  background-image: url('/logo/communication-bg1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100vw;
  border-radius: 10px;
} */

.energy{
  background-image: url('/logo/wave-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100vw;
}

.academy-curve{
  border-bottom-left-radius:80% 50%;
  border-bottom-right-radius:80% 50%;
  height: 85vh;
}

.internet-section {
  background-image: url('/logo/waves.svg'), url('/logo/Rectangle-transfrom.svg');
  background-repeat: repeat-x, no-repeat;
  background-position: 0 center, left;
  background-size: cover, contain;
  height: 525px;
}

.vision-mission-section {
  background-image: url('/logo/waves-slant.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.about-us {
  background-image: url('/logo/about-us-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.security {
  background-image: url('/logo/security-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.values_grid {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 40px 30px; 
  grid-template-areas: 
    ". . . .  ."; 
}

.data_center_grid{
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 15px 26px; 
  grid-template-areas: 
    ". . ."
    ". . ."; 
}

.platform-top-section{
  background-image: url('https://images.unsplash.com/photo-1639762681485-074b7f938ba0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.support-centers{
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 55px 26px; 
  grid-template-areas: 
    ". . ."
    ". . ."; 
}

.support-centers > div{
  background-color: white;
  padding: 20px;
}

@media only screen and (max-width: 400px) {
  .about-us, .security {
    height: 50vh;
  }
  
}

@media only screen and (max-width: 600px) {
  .main-page {
    background-image: url('/logo/Ellipse-bg.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    height: 472px;
  }

  .values_grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 26px 55px;
    grid-template-areas:
      '. .'
      '. .'
      '. .';
  }

  .support-centers{
    display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 15px 26px; 
  grid-template-areas: 
    "."
    "."
    "."
    "."
    "."; 
  }
}

/* .figures:nth-child(odd){
  padding-left: 20px;
} */
